.register-card {
    width: 100%;
    max-width: 450px;
    border-radius: 15px;
    border: none;
}

.btn-yellow {
    background-color: #ffcc00; /* El clásico amarillo de DinoRanking */
    color: #333;
    font-weight: bold;
    transition: transform 0.2s;
}

.btn-yellow:hover {
    background-color: #e6b800;
    transform: scale(1.02);
}